# EJERCICIOS DE DATOS COMPLEJOS:

# DATOS SIMPLES:


 # Crear una lista de nombres de ciudades.

In [1]:
ciudades = ["Río Grande", "Tolhuin", "Ushuaia", "Tandil", "La Plata", "Mar del Plata"]
print(ciudades)

['Río Grande', 'Tolhuin', 'Ushuaia', 'Tandil', 'La Plata', 'Mar del Plata']

# Crear un diccionario con información de empleados (nombre, cargo, salario).

In [9]:
empleados = {"nombre": "Luis", "cargo": "Policía", "salario": 750000}, {"nombre": "Sofía", "cargo": "Enfermera", "salario": 500000}, {"nombre": "Mario", "cargo": "Médico", "salario": 1000000}
print(empleados)

({'nombre': 'Luis', 'cargo': 'Policía', 'salario': 750000}, {'nombre': 'Sofía', 'cargo': 'Enfermera', 'salario': 500000}, {'nombre': 'Mario', 'cargo': 'Médico', 'salario': 1000000})

# Mostrar cómo acceder a un elemento específico en una lista y en un diccionario.

In [13]:
ciudades = ["Río Grande", "Tolhuin", "Ushuaia", "Tandil", "La Plata", "Mar del Plata"]
print(ciudades[0])

Río Grande

In [19]:
empleados = {"nombre": "Luis", "cargo": "Policía", "salario": 750000}, {"nombre": "Sofía", "cargo": "Enfermera", "salario": 500000}, {"nombre": "Mario", "cargo": "Médico", "salario": 1000000}
empleado_2 = empleados[1]
print(empleado_2["nombre"])

Sofía

# MANIPULACIÓN DE LISTAS Y MÉTODOS:

# Crea una lista inicial de números enteros.